<div class="container-sm">
    <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [legend]="doughnutChartLegend"
          [colors]="doughnutChartColors">
    </canvas>
</div>