<div *ngIf="Stocks.length===0; else elseBlock">
	<div class="jumbotron my-3">  
 		<p class="lead">No trades to display, place an order now!</p>  
	</div>
	<button class="btn btn-outline-primary" routerLink="/create-stock">NEW ORDER</button>
	<button class="btn btn-outline-primary mx-3" (click)="reloadCurrentPage()">UPDATE STATUS</button>
</div>

<ng-template #elseBlock>
	<button class="btn btn-outline-primary my-3" routerLink="/create-stock">NEW ORDER</button>
	<button class="btn btn-outline-primary mx-3" (click)="reloadCurrentPage()">UPDATE STATUS</button>
	<div class="col-md-12">
	  <table datatable [dtOptions]="dtOptions" class="table table-hover table-sm">
		<thead class="table-dark">
		  <tr>
			<th scope="col">Order ID</th>
			<th scope="col">Ticker</th>
			<th scope="col">Buy/Sell</th>
			<th scope="col">Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Status</th>
			<th scope="col"></th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocks" [ngClass]="{
    		'table-light':stock.statusCode === 0,
    		'table-warning':stock.statusCode === 1,
			'table-success':stock.statusCode === 2,
    		'table-danger':stock.statusCode === 3}">

			<td>{{stock.id}}</td>
            <td>{{stock.stockTicker}}</td>
            <td>{{stock.buyOrSell}}</td>
            <td>{{stock.price}}</td>
			<td>{{stock.volume}}</td>
            <td>{{formatDate(stock.dateTime) | date :'medium'}}</td>
			<td>
				<span [ngSwitch]="stock.statusCode">
					<span *ngSwitchCase="0">Pending</span>
					<span *ngSwitchCase="1">Processing</span>
					<span *ngSwitchCase="2">Success</span>
					<span *ngSwitchCase="3">Failed</span>
					<span *ngSwitchDefault>Pending</span>
				</span>
			</td>

			<td>
				<ng-template [ngIf]="this.stock.statusCode==0">
				  	<a [routerLink]="" (click)="deleteStock(stock.id)" class="btn btn-danger btn-sm float-right">Undo</a>&nbsp;
				</ng-template>

                
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</ng-template>
